package validation

templ TextInput() {
	<form>
		<input
			name="name"
			hx-trigger="input changed delay:500ms"
			hx-post="/validate"
			hx-target="#errMsg"
			hx-swap="innerHTML"
			class="rounded-md border border-gray-300 p-1"
		/>
		<span id="errMsg"></span>
	</form>
}
