package components

templ Modal() {
	<dialog id="modal">
		<button autofocus>
			<script>
                me().on("click", ev => { me("#modal").close() })
            </script>
			Close
		</button>
		<p>Modal content</p>
	</dialog>
	<button>
		<script>
            me().on("click", ev => { me("#modal").showModal() })
        </script>
		Show the modal
	</button>
}
