package ui

templ ModalDemo() {
	@Modal("demo", "Demo Modal") {
		<h2 class="text-lg">Demo Modal</h2>
		<p>Modal content</p>
	}
}

templ Modal(id string, label string) {
	<dialog
		id={ id }
		x-data="{ modal : $el }"
		x-ref="modal"
		x-init="$el.showModal()"
	>
		{ children... }
		<button
			@click="modal.close(); modal.remove();"
		>close</button>
	</dialog>
}
