package ui

import "fmt"

templ Modal(id string, label any) {
	<div
		class=""
		@click={ fmt.Sprintf("%s.showModal()", id) }
	>
		// you can use a string or a templ.Component as the 'label'
		// of the modal button
		if s, ok := label.(string); ok {
			{ s }
		} else if c, ok := label.(templ.Component); ok {
			@c
		}
	</div>
	<dialog id={ id } class="">
		<div class="">
			{ children... }
		</div>
		<form method="dialog" class="">
			<button>close</button>
		</form>
	</dialog>
}
